contextily
deep-translator
e2b-code-interpreter
folium
geopandas
geopy
gradio
gradio-folium
ipykernel
langchain-azure-ai
langchain_community
langchain_google_genai
langchain_openai
langchain-ollama
langgraph
mapclassify
matplotlib
numpy
openai
pandas[plot, output-formatting]
pydantic
pymilvus
pymupdf4llm
pyproj
rapidfuzz
seaborn
shapely
smolagents==1.19.0
structlog
tiktoken